###############################################
## Design Files
###############################################
*.xd
*.sketch
*.fig

###############################################
## Miscellaneous
###############################################
.DS_Store
.prettierignore